.footer{
    position: fixed;
    bottom: 0;
    width: 10%;
    margin: 0 auto;
    right: 0;
}

.github{
    color: rgb(0, 0, 0);
    float:right;
    font-size:5em;
    padding-right: 15px;
}
.github:hover{
    color: rgba(0, 0, 0, 0.629);
}